body {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

h1 {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.area {
    grid-row: 2;
    grid-column: 2;
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    border: solid black thin;
    background-color: blue;
    align-self: center;
    justify-self: center;
}

.score {
    display: flex;
    grid-row: 2;
    grid-column: 3;
    width: 100px;
    height: 100px;
    border: solid black thin;
    background-color: gray;
    align-self: flex-end;
    justify-self: flex-start;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.timer {
    position: relative;
    display: block;
    grid-row: 3;
    grid-column: 2;
    font-size: x-large;
    font-weight: bold;
    justify-self: center;
    align-self: flex-start;
    margin-top: 2%;
    width: fit-content;
    margin-left: 9%;
}

.clock {
    position: relative;
    display: block;
    align-self: flex-start;
    margin-top: 1%;
    width: 37px;
    height: 37px;
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    margin-right: 9%;
}

td {
    white-space: nowrap;
}

td.airplane {
    background-color: aliceblue;
}
